@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('Inter Regular'), local('Inter-Regular'),
         url('/fonts/Inter/static/Inter-Regular.ttf') format('truetype'); /*Update the path to your font file*/
  }

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
         url('/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype'); /* Update the path to your font file */
  }
  

body,
html,
#root {
    height: 100%;
}

body {
    background-image: url('/leaves.webp');
}

#loginbg {
    background-image: url('/loginbg.jpg');
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    /* Change to your desired color */
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #edf2f7;
    /* Change to your desired color */
}

/* For Firefox */
.scrollbar-thumb-gray-400 {
    scrollbar-color: #cbd5e0 #edf2f7;
    /* Change to your desired colors */
}